<html>
    <head>
        <meta charset="utf-8">
        <title>Test Web Application</title>
    </head>
    <body>
        <section>
            <h1>你好，陌生人！你没有登录，或者你还没有注册。</h1>
            <ul>
                <li><a href="/auth/signup" title="注册">注册</a></li>
                <li><a href="/auth/login" title="登录">登录</a></li>
            </ul>
        </section>
    </body>
</html>
