<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <title>Test Web Application</title>
    </head>
    <body>
        <section>
            <h1>新用户注册</h1>
            <form method="post" action="/auth/signup">
            	<label>邮箱</label>
            	<input type="text" name="email" placeholder="you@you.com" />
            	<label>密码</label>
            	<input type="password" name="password" placeholder="123456" /> 
            	<input type="submit" value="注册" />
            </form>
        </section>
    </body>
</html>
